<!DOCTYPE html>
<head>
    <title>vish.bio</title>
    <link rel="stylesheet" href="/assets/tailwind.generated.css">
    <link rel="stylesheet" href="/assets/main.generated.css">
</head>
<html>
    <body>
        {% include "components/header.html" %}

        <div class="mx-20 mb-64 w-fit px-3">
            <div class="mt-20">
                <span class="lg:text-3xl text-5xl">
                    <span class="text-secondary">&gt;</span> whoami_
                    <br>
                    <br>
                    
                    <span class="lg:text-3xl text-5xl text-secondary">
                        Vishaal Selvaraj
                    </span>
                    <span class="lg:text-3xl text-5xl">
                        - The math and computer enthusiast.
                    </span>
                </span>
            </div>
            
            <div class="mt-20">
                <div>
                    <span class="lg:text-3xl text-5xl">
                        <span class="text-secondary">&gt;</span> skills_
                        <br>
                        <br>
                    </span>
                </div>
                <div class="ml-10">
                    <ul class="lg:text-2xl text-4xl text-secondary lg:space-y-2 space-y-4">
                        <li><span class="text-foreground">Rust, Go, Java, Python, C#, JS/TS, Dart, C/C++ and other languages</span></li>
                        <li><span class="text-foreground">React, Nuxt, Electron</span></li>
                        <li><span class="text-foreground">Axum/Actix/Rocket, ASP.Net core, FastAPI, NodeJS, GoFibre, etc.</span></li>
                        <li><span class="text-foreground">Flutter, Native Android</span></li>
                        <li><span class="text-foreground">Kubernetes, Docker, Linux</span></li>
                        <li><span class="text-foreground">Tensorflow</span></li>
                    </ul>
                </div>
            </div>

            <div class="mt-20">
                <div>
                    <span class="lg:text-3xl text-5xl">
                        <span class="text-secondary">&gt;</span> projects top 6_
                        <br>
                        <br>
                    </span>
                </div>
                <div class="ml-10">
                    <ul class="lg:text-2xl text-4xl text-secondary lg:space-y-2 space-y-4">
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/hybridzip/hybridzip"><u>hybridzip</u></a> - A model aware data-compression platform</span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/supercmmetry/mitsuha"><u>mitsuha</u></a> - A WASI job execution engine</span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/supercmmetry/vish.bio"><u>vish.bio</u></a> - This website</span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/supercmmetry/rainman"><u>rainman</u></a> - A lightweight flexible hierarchical memory manager for C++</span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/supercmmetry/bitio"><u>bitio</u></a> - A simple and fast bitio library for C++</span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/GDGVIT/Neo4j-OGM"><u>lucy</u></a> - An easy to use OGM for Neo4j</span></li>
                        

                    </ul>
                </div>
            </div>

            <div class="mt-20">
                <div>
                    <span class="lg:text-3xl text-5xl">
                        <span class="text-secondary">&gt;</span> links_
                        <br>
                        <br>
                    </span>
                </div>
                <div class="ml-10">
                    <ul class="lg:text-2xl text-4xl text-secondary lg:space-y-2 space-y-4">
                        <li><span class="text-foreground"><a class="text-secondary" href="https://github.com/supercmmetry"><u>github</u></a></span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://linkedin.com/in/vishaal-selvaraj"><u>linkedin</u></a></span></li>
                        <li><span class="text-foreground"><a class="text-secondary" href="https://t.me/supercmmetry"><u>telegram</u></a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>