html {

    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

h1 {

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity));

    -webkit-user-select: none;

       -moz-user-select: none;

            user-select: none
}

body {

    --tw-bg-opacity: 1;

    background-color: rgb(2 6 23 / var(--tw-bg-opacity))
}